<br/>
<br/>
<section>

	<mat-paginator #paginator
	               [length]="totalCount"
	               [(pageIndex)]="config.pageIndex"
	               [(pageSize)]="config.pageSize"
	               [pageSizeOptions]="[5, 10, 25, 100]"
	               (page)="refresh($event)">
	</mat-paginator>
	<h2>Customers</h2>
	<mat-table #table
	           [dataSource]="dataSource">

		<!--- Note that these columns can be defined in any order.
					  The actual rendered columns are set as a property on the row definition" -->

		<!-- ID Column -->
		<ng-container matColumnDef="id">
			<mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
		</ng-container>

		<!-- Loans Count Column -->
		<ng-container matColumnDef="loansCount">
			<mat-header-cell *matHeaderCellDef
			                 class=textCenter> Loans </mat-header-cell>
			<mat-cell *matCellDef="let row"
			          class=textCenter> {{row.loansCount}} </mat-cell>
		</ng-container>

		<!-- Loans Amount Column -->
		<ng-container matColumnDef="loansAmount">
			<mat-header-cell *matHeaderCellDef
			                 class=textRight> Total Amount </mat-header-cell>
			<mat-cell *matCellDef="let row"
			          class=textRight> {{row.loansAmount | currency:'USD':true}} </mat-cell>
		</ng-container>

		<!-- Actions Column -->
		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef> </mat-header-cell>
			<mat-cell *matCellDef="let row"
			          class=textRight>
				<button mat-icon-button
				        (click)="addLoan(row.id)">
					<mat-icon>attach_money</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</section>
<button mat-fab
        class=add
        (click)="addCustomer()">
	<mat-icon>add</mat-icon>
</button>
